@media only screen and (max-width: 600px) {
  
html body {
  padding: 0;
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: #191765;
  padding-top: 44px;
  z-index: -2;
  background-image: url('./media/shapes2.png');
  background-repeat: no-repeat;
  background-size: 375px 2617px;
  background-position: 0 1370px;
}

.header {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 36px;
  padding-left: 12px;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: white;
  text-decoration: none;
}

.normal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  padding-right: 24px;
}

.btnMenu {
  background: none;
  color: inherit;
  border: none;
}

.btnMenu:hover {
  background-color: #7d73fc;
}

.menu-icon {
  width: 50px;
  height: 50px;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url("./media/top-circles.png");
  margin-bottom: 20px;
}

.headline-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-text {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: -10px;
  margin-top: 80px;
}

.supporting-text {
  color: #edecff;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.headline-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
}

.intro-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  text-align: center;
  color: #c8c8d4;
  margin-bottom: 30px;
}

.skillset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  padding-left: 20px;
  row-gap: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.ss1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #9490ff;
  margin-bottom: 10px;
}

.ss2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #f5f5ff;
  line-height: 24px;
}

.headline-footer {
  margin-left: 87.5px;
  margin-right: 87.5px;
  margin-top: 40px;
  flex-direction: column;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
}

.element-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  width: 18px;
  height: 21.3px;
  margin-right: 10px;
}

.work-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
}

a:hover {
  background: rgb(83, 103, 172);
}

.ul-socials {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.ul-skills {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work {
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
  justify-content: center;
}

.work-header-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #9490ff;
  margin-bottom: 25px;
}

.entry-container {
  display: grid;
  margin-top: 30px;
  row-gap: 15px;
}

.entry {
  display: flex;
  height: auto;
  flex-direction: column;
  margin-bottom: 23px;
}

.img-holder {
  width: inherit;
  height: 236px;
  background: #c8c8d4;
  margin-bottom: 23px;
}

.entry-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

.entry-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #dcdce8;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.entry-category {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.btn-see {
  grid-area: 2/1/span 1/span 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  background: #7d73fc;
  border: none;
  width: 89px;
  height: 48px;
  z-index: 1;
  color: #edecff;
}

.btn-see-holder {
  display: grid;
  grid-template: 20px 48px/ 89px 100%;
}

.btn-see:hover {
  background: #9b94fd;
}

.btn-see:active {
  background: #5e42d7;
}

.to-left {
  float: left;
}

.form-footer {
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 55px;
}

.contact-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #9390ff;
}

.contact-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #f5f5ff;
  margin-bottom: 40px;
}

.form-ul {
  list-style-type: none;
  padding: 0;
}

.form-ul input {
  width: 318px;
  height: 48px;
}

.li-form {
  margin-bottom: 24px;
}

#msg {
  width: 319px;
  height: 148px;
  font-family: 'Inter', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

#btnsubmit {
  width: 89px;
  height: 48px;
  background: #7d73fc;
  border: none;
  color: #edecff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.social-media-2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myemail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  margin-top: 0;
  margin-bottom: 50px;
}

#btnsubmit:active {
  background: #5e42d7;
}

#btnsubmit:hover {
  background: #9b94fd;
}
.d {
  display: none;
}
}

/* -------------------- START OF DESKTOP VERSION -------------------- */
@media only screen and (min-width: 768px){

  html body {
    margin: 0;
    padding: 0;
    background-color: #191765;
  }

  .screen {
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    width: 100%;
  }

  .logo-placeholder {
    float: left;
    margin-top: 20px;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .logo-placeholder:hover {
    background: #9b94fd;
  }

  .logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .normal-button {
    display: none;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .weight-500 {
    font-weight: 500;
  }

  .color-white {
    color: white;
  }

  .d-item-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .d-item-nav div {
    padding-left: 12px;
    padding-right: 12px;
  }

  .d-mailicon-holder {
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 40px;
    height: 40px;
  }

  .d-mailicon-holder:hover {
    background: #9b94fd;
  }

  .d-nav-group {
    float: right;
    display: flex;
    right: 0;
  }

  .text-hover a:hover {
    background: #9b94fd;
  }

  .no-hlink {
    text-decoration: none;
  }

  .headline {
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
  }

  .headline-head {
    margin-top: 114px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .primary-text {
    color: #9390ff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -10px;
  }
  
  .supporting-text {
    color: #dfe1e6;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }

  .headline-body {
    width: 446px;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
    color: #c8c8d4;
    margin-bottom: 33px;    
  }

  .skillset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    row-gap: 25px;
    margin-top: 32px;
    margin-bottom: 41px;
  }

  .ss1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #9390ff;
    margin-bottom: 10px;
  }
  
  .ss2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #f5f5ff;
    line-height: 24px;
  }

  .ul-skills {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .m {
    display: none;
  }  

  .headline-footer {
    margin-top: 96px;
    width: 71vw;
  }

  .ul-socials {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .d-elem-left {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .d-elem-right {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l {
    margin-right: 12px;
  }

  .r {
    margin-left: 12px;
  }

  .work-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #b3bac5;
  }

  a:hover {
    background: rgb(83, 103, 172);
  }

  .work {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    justify-content: center;
  }

  .work-header {
    width: 100%;
  }

  .work-header-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #9390ff;
    margin-bottom: 15px;
  }

  .entry-container {
    display: grid;
    margin-top: 30px;
    row-gap: 15px;
  }

  .entry {
    /* display: flex; */
    height: auto;
    margin-bottom: 88px;
  }

  .img-holder {
    height: 100%;
    width: 684px;
    background: #c8c8d4;
    margin-bottom: 23px;
  }

  .entry-data {
    width: 40%;
    margin-left: 24px;
  }

  .entry-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #fff;
  }

  .entry-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #dfe1e6;
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .entry-category {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .btn-see {
    grid-area: 2/1/span 1/span 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    background: #7d73fc;
    border: none;
    width: 89px;
    height: 48px;
    z-index: 1;
    color: #edecff;
  }

  .btn-see-holder {
    display: grid;
    grid-template: 20px 48px/ 89px 100%;
  }

  .btn-see:hover {
    background: #9b94fd;
  }
  
  .btn-see:active {
    background: #5e42d7;
  }

  .to-left {
    float: left;
  }

  .to-right {
    float: right;
  }

  .form-footer {
    width: 684px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 88px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .contact-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #9390ff;
  }

  .contact-desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #f5f5ff;
    margin-bottom: 40px;
  }

  .form-ul {
    list-style-type: none;
    padding: 0;
  }
  
  .form-ul input {
    width: 100%;
    height: 48px;
  }
  
  .li-form {
    margin-bottom: 24px;
  }
  
  #msg {
    width: 100%;
    height: 148px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 60px;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
  }
  
  #btnsubmit {
    width: 160px;
    height: 48px;
    background: #7d73fc;
    border: none;
    color: #edecff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 106px;
  }

  .social-media-2 {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .myemail {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ebebff;
    margin-top: 13px;
    margin-left: 10px;
    height: 100%;
  }
  
  #btnsubmit:active {
    background: #5e42d7;
  }
  
  #btnsubmit:hover {
    background: #9b94fd;
  }
}
