.screen {
	display: flex;
	flex-direction: column;
	width: 375px;
	height: 5415px;
	background: #191765;
	padding-top: 44px;
}

.header {
	display: flex;
	width: 100%-12px;
	height: 48px;
	align-items: center;
	padding-left: 12px;
	padding-right: 24px;
	justify-content: space-between;
}

.logo-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 105px;
	height: 36px;
}

.logo-text {
	font-size: 18px;
	font-weight: 500;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.normal-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 66px;
	height: 66px;
}

.menu-icon {
	width: 50px;
	height: 50px;
}

.headline {
	display: flex;
	flex-direction: column;
	height: 1316.15px;
	background-image: url("top circles.png");
	
}

.headline-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.primary-text {	
	color: #7D73FC;
	font-size: 48px;
	font-weight: 700;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-bottom: -10px;
	margin-top: 80px;
}

.supporting-text {	
	color: #EDECFF;
	font-size: 32px;
	font-weight: 500;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.headline-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 24px;
	margin-right: 24px;
}

.intro-text {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400px;
	font-size: 20px;
	text-align: center;
	color: #C8C8D4;
	margin-bottom: 30px;
}

.skillset {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 70px;
	row-gap: 0px;
	margin-left: 27px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.ss1 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #9490FF;
}

.ss2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #F5F5FF;
	line-height: 24px;
}

.headline-footer {
	margin-left: 87.5px;
	margin-right: 87.5px;
	margin-top: 40px;
	flex-direction: column;
}

.social-media {
	display: flex;
	justify-content: space-evenly;
}

.element-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.down-arrow {
	width: 18px;
	height: 21.3px;
	margin-right: 10px;
}

.work-text {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #A2A3AE;
}
